@import '../../utils.scss';

.enrollment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    font-weight: bold;
    font-size: 16px;

    &--big-colored {
      color: #83F6B1;
    }

    &--small-colored {
      font-size: 12px;
      color: #83F6B1;
    }
  }

  &__button {
    @include button;

    width: 133px;
    height: 42px;

    background: #83F6B1;
    border-radius: 5555px;
    border: transparent;
    position: relative;
  }
}