@import '../../utils.scss';

.enrollment {
  @include centeredFlex;
  flex-direction: column;

  &__text {
    font-weight: bold;
    font-size: 16px;

    &--big-colored {
      color: $base-green;
    }

    &--small-colored {
      font-size: 12px;
      color: $base-green;
    }
  }

  &__button {
    margin-top: 10px;
    @include button;

    width: 133px;
    height: 42px;
  }
}