@import '../../utils.scss';

.timer {
  display: flex;
  &__digits-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1;
    color: $base-green;

    font-size: 22px;
    font-family: 'Gilroy';
  }
}