@import '../../utils.scss';

.timer {
  @include centeredFlex;

  &__icon {
    margin-right: 8px;
  }

  &__digits-wrapper {
    @include centeredFlex;


    font-size: 22px;
    font-family: 'Gilroy';
    color: $base-green;
  }
}