.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;

  &__wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    // top: 0;
  }
}

