@mixin scaler($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

.modal {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 695px;
  height: 727px;
  background: linear-gradient(177.76deg, #2E354B 0%, #30374C 100%);
  box-shadow: 25px 25px 50px rgba(24, 28, 38, 0.5);
  border-radius: 10px;

  font-family: 'Gilroy';
  // font-style: normal;
  font-weight: 500;

  &__heading {
    font-weight: bold;
  }



  &__percent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 68px;
    height: 34px;
    background: #83F6B1;
    border-radius: 0px 0px 5px 5px;
    color: #272c44;
  }

  &__timer {
    margin-top: 30px;
  }

  &__select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__select {
    padding: 12px 57px;
    background-color: #3C4561;
    width: 392px;
    outline: none;

    appearance: none;
    color: #eee;
    border-radius: 5px;
    border-color: transparent;

    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }

  &__img {
    position: absolute;
    top: 15px;
    left: 20px;

    &--transformed {
      top: 11px;
    }
  }

  &__arrow {
    position: relative;
    transform:translate(0,50%);
    right: 22px;

    pointer-events: none;
  }

  &__cards {
    width: 510px;
    margin-top: 50px;
  }

  &__bottom {
    position: absolute;
    color: #91ACD4;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 70px;
  }

  &__info {
    max-width: 417px;
    padding-top: 24px;
    text-align: center;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: bold;

    @include scaler(transform, scale(1.2));
    
    &::after {
      position: absolute;
      bottom: -9px;
      left: 3px;
      content: ". . . . . . . . . . .";
    }
  }

  &__close {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 22px;
    right: 22px;
    outline: none;
    cursor: pointer;

    @include scaler(transform, scale(1.2));

    &::after {
      content: url(./close-button.svg);
    }
  }
}
