@import './fonts';
@import './utils';

body {
  box-sizing: border-box;
  background-color: #1e2535;
  color: $base-white;

  font-family: 'Gilroy';
  margin: 0;
}

.App {
  padding-top: 127px;
  padding-bottom: 127px;

  &__button {
    display: flex;
    padding: 14px 24px;
    position: absolute;
    width: 188px;
    height: 42px;
    left: 45px;
    top: 79px;

    background-color: $base-green;
    border-radius: 5555px;
  }
}

#button {
  @include button;

  position: absolute;
  border: transparent;

  width: 188px;
  height: 42px;
  left: 45px;
  top: 79px;

}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
