@font-face {
  font-family: "Gilroy";
  // src: url("./fonts/gilroy/Gilroyextrabold.ttf");
  src: url("./fonts/gilroy/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  // src: url("./fonts/gilroy/Gilroylight.ttf");
  src: url("./fonts/gilroy/Gilroy-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
